.mce-content-body :where(h1, h2, h3, h4, h5, h6, .title)  {
  color: #1B1919;
  margin-bottom: 20px;
  line-height: 1.4;
}

.mce-content-body h1 {
  font-size: 28px;
}

.mce-content-body h2 {
  font-size: 24px;
}

.mce-content-body h3 {
  font-size: 22px;
}

.mce-content-body h4 {
  font-size: 18px;
}

.mce-content-body h5 {
  font-size: 16px;
}

.mce-content-body h6 {
  font-size: 12px;
}